:root {
    --blue: #172B85;
    --blue-dark: #172B85;
    --yellow: #FFCC00;
    --cream: #f5f1e8;
    --text: #111827;
    --muted: #667085;
    --line: #dfe4ea;
    --white: #fff;
    --max: 1240px
}